@model MyWebApp.Models.DoctorRegisterModel

@{
    ViewData["Title"] = "View";
}

<main class="form-signin">
    <div class="container justify-content-center">
        <div class="card shadow">
                <h2>Регистрация</h2>
                <form data-ajax="true" data-ajax-method="post" data-ajax-success="onRegistrationSuccess" data-ajax-failure="onRegistrationFailed" data-ajax-url="/registration/save">
                    <div asp-validation-summary="ModelOnly" class="text-danger row"></div>
                    <div id="errors" class="text-danger row hidden"></div>
                    <div id="success" class="text-success row hidden"><span>Данные сохранены успешно</span></div>
                <div class="stand-alone flex">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control fill" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="stand-alone">
                        <div class="col-left">
                            <label asp-for="Gender" class="form-label"></label>
                            <select asp-for="Gender" class="form-control">
                                <option value="Male" selected>Мужской</option>
                                <option value="Female">Женский</option>
                            </select>
                        </div>
                        <div class="col-right" style="align-self:flex-end">
                            <label asp-for="Birthday" class="form-label"></label>
                            <input asp-for="Birthday" type="date" class="form-control" style="padding-bottom:7px"/>
                            <span asp-validation-for="Birthday" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="stand-alone flex">
                        <label asp-for="Phone" class="form-label"></label>
                        <input asp-for="Phone" class="form-control phone-mask fill" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="stand-alone search flex" style="overflow:visible">
                            <label for="searchBox" class="form-label">Специальность</label>
                            <input type="hidden" id="Speciality" name="Speciality" />
                            <input id="searchBox" class="form-control" />
                            <select class="spec-results" size="10">
                            </select>
                            <span asp-validation-for="Speciality" class="text-danger"></span>
                    </div>
                    <div class="stand-alone flex">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control fill" placeholder="name@example.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="stand-alone flex">
                        <label asp-for="Password" class="form-label">Пароль</label>
                        <input asp-for="Password" type="password" class="form-control fill">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="stand-alone">
                        <input id="submitBtn" type="submit" value="Зарегистрироватся" class="button stand-alone" />
                    </div>
                </form>
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/js/registration.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
