@{
    ViewBag.Title = "Not Found";
}
<div class="card shadow content-container flex" style="justify-content:center; align-items:center">
		<h1 class="text-danger">404</h1>
		<p class="fs-3"> <span class="text-danger">Ой!  </span>Страница не найдена</p>
		<p class="lead">
			Похоже такая страница не существует
		</p>
		<a href="\" class="button">На главную</a>
</div>
